<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form ng-submit="onRegister()" class="form-signin" data-toggle="validator" role="form">
        <div class="alert alert-warning" ng-if="errorMessage">{{ errorMessage }}</div>
        <input ng-model="user.displayName" type="text" id="inputDisplayName" class="form-control"
               placeholder="Display Name"
               pattern=".{3,}" required autofocus>
        <input ng-model="user.email" type="email" id="inputEmail" class="form-control"
               placeholder="Email address" required>
        <input ng-model="user.password" type="password" id="inputPassword" class="form-control"
               placeholder="Password"
               pattern=".{6,}" required>
        <input ng-model="retypedPassword" type="password"
               id="retypePassword" class="form-control"
               placeholder="Retype Password" required
               data-match="#inputPassword"
               data-match-error="Whoops, these don't match">
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
    </form><!-- /form -->
    <a href="user/login">Already have account, login instead.</a>
</div><!-- /card-container -->